.container {
  background: url("../../../public/images/background/home_bg_5.png");
}

.container__bg {
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.45) 20%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 30%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 30%,
      rgba(255, 255, 255, 0.95) 100%
    );
}

.box {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-items: center;
}

.box .simpleHeading {
  text-align: right;
}

.box:nth-of-type(2) .simpleHeading {
  order: 2;
  text-align: left;
}

.simpleHeading {
  padding: 2rem;
}

.img__wrapper {
  width: 400px;
  height: 250px;
  border-radius: 5rem 0 5rem 0;
  overflow: hidden;
  justify-self: left;
  margin-left: 1rem;
}

.box:nth-of-type(2) .img__wrapper {
  justify-self: right;
  margin-right: 1rem;
  border-radius: 0 5rem 0 5rem;
}

.img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.img__wrapper:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .box {
    margin-top: 1.5rem;
  }
  .img__wrapper {
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .box {
    grid-template-columns: 1fr;
  }
  .simpleHeading {
    text-align: center !important;
    padding-inline: 0;
    padding-block: 0rem;
  }

  .box .simpleHeading {
    order: -1 !important;
  }

  .box .img__wrapper {
    justify-self: center !important;
    margin: 0;
  }

  .img__wrapper {
    width: 350px;
    height: 200px;
    border-radius: 5rem 5rem 0 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .img__wrapper {
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .img__wrapper {
    width: 250px;
    height: 150px;
  }
}
