.info__container {
  margin-top: 2rem;
}

.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.card {
  width: 320px;
  position: relative;
  background-color: white;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.7);
  background: url("../../../public/images/nuevo_logo.png") center center/cover
    no-repeat;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card.gold a {
  background: var(--primary-hover);
}

.card.gold:hover .content a {
  background: var(--primary-hover);
}

.card.silver a {
  background: #c0c0c0;
  color: var(--primary-color);
}

.card.silver:hover .content a {
  background: #c0c0c0;
  color: var(--primary-color);
}

.card.bronze a {
  background: #cd7f32;
  color: var(--primary-color);
}

.card.bronze:hover .content a {
  background: #cd7f32;
  color: var(--primary-color);
}

.card__bg {
  padding: 2rem;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.98),
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.88),
    rgba(0, 0, 0, 0.82),
    rgba(0, 0, 0, 0.67)
  );
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 320px;
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100% + 2px);
  width: 100%;
  height: 100%;
  background: linear-gradient(to top left, var(--primary-color), white);

  z-index: 1;
  transition: 0.5s;
}

.card:hover::before {
  bottom: 0;
}

.content {
  position: relative;
  text-transform: capitalize;
  color: whitesmoke;
  z-index: 2;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.content h3 {
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.2;
  font-size: 1.3rem;
  font-weight: 700;
  color: whitesmoke;
}

.content p:nth-of-type(1) {
  font-size: 1.1rem;
}

.content a {
  margin-top: 1rem;
  align-self: flex-start;
}

.card:hover .content {
  color: var(--primary-color);
}

.card:hover .content h3 {
  color: var(--primary-color);
}

.card:hover .content a {
  background-color: var(--primary-color);
}

@media screen and (max-width: 400px) {
  .info {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .card {
    width: 100%;
  }

  .card__bg {
    width: 100%;
  }
}
