.container {
  margin-top: 1rem;
  padding-block: 2rem 1rem;
  border-top: 0.1rem solid var(--primary-color);
}

.logo img {
  width: 150px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
  column-gap: 2rem;
}

.footer__left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
}

.footer__menu li {
  margin-right: 1rem;
}

.footer__right {
  text-align: right;
}

.footer__right a {
  color: var(--primary-hover) !important;
}

.container a {
  color: var(--primary-color);
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
  }

  .footer__menu {
    justify-content: center;
  }

  .footer__left {
    text-align: center;
  }

  .footer__right {
    text-align: center;
  }
}
