.title {
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--primary-hover)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 1rem;
}

.divider {
  width: 15rem;
  height: 0.2rem;
  margin-bottom: 0.5rem;
  margin-inline: auto;
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--primary-hover)
  );
}

.divider__big {
  width: 20rem;
  height: 0.2rem;
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--primary-hover)
  );
  margin-inline: auto;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1rem;
  max-width: 50rem;
  margin-inline: auto;
}

@media screen and (max-width: 468px) {
  .divider__big {
    width: 10rem;
  }

  .divider {
    width: 8rem;
  }
}
