.title {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1rem;
}

.divider {
  width: 15rem;
  height: 0.2rem;
  background: var(--primary-hover);
  margin-bottom: 0.5rem;
  margin-inline: auto;
}

.divider__big {
  width: 20rem;
  height: 0.2rem;
  background: var(--primary-hover);
  margin-bottom: 2rem;
  margin-inline: auto;
}

.description {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  max-width: 50rem;
  margin-inline: auto;
}
