.details {
  margin-top: 2rem;
}

.details__content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1rem;
}

.details__info {
  padding-right: 1rem;
}

.details__info h2 {
  margin-bottom: 1rem;
}

.details__image {
  position: relative;
  max-height: 30rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.details__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details__images {
  height: 30rem;
  width: 40rem;
  margin-top: 3rem;
  margin-inline: auto;
}

.image__container {
  position: relative;
  height: 30rem;
  aspect-ratio: 1/1;
}

.details__info p {
  margin-top: 1rem;
}

.details__info a {
  color: var(--primary-hover);
  text-decoration: underline;
}

.details__link {
  word-wrap: break-word; /* Older browsers */
  overflow-wrap: break-word; /* Modern browsers */
  word-break: break-all; /* Ensures long URLs are broken at any character */
  hyphens: auto; /* Optional: Adds hyphenation if necessary */
}

@media screen and (max-width: 1024px) {
  .details__content {
    grid-template-columns: 1fr;
  }

  .details__info {
    padding-right: 0;
  }

  .details__image {
    width: 30rem;
    height: 20rem;
    order: -1;
  }

  .details__images {
    width: 30rem;
    margin-top: 2rem;
    margin-inline: 0;
  }
}

@media screen and (max-height: 400px) {
  .details__image {
    height: 12rem;
  }
}

@media screen and (max-width: 576px) {
  .details__images {
    height: 30rem;
    width: 100%;
  }

  .details__image {
    height: 15rem;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .details__images {
    height: 20rem;
  }

  .details__image {
    height: 10rem;
  }
}
