.details__container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.details__content p {
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .details__container {
    grid-template-columns: 1fr;
  }
}
