.details__container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.details__content p {
  margin-top: 1rem;
}

.details__content a {
  color: var(--primary-hover);
  text-decoration: underline;
}

.details__link {
  word-wrap: break-word; /* Older browsers */
  overflow-wrap: break-word; /* Modern browsers */
  word-break: break-all; /* Ensures long URLs are broken at any character */
  hyphens: auto; /* Optional: Adds hyphenation if necessary */
}

@media screen and (max-width: 768px) {
  .details__container {
    grid-template-columns: 1fr;
  }
}
