.details__container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.details__content p {
  margin-top: 1rem;
}

.details__content a {
  color: var(--primary-hover);
  text-decoration: underline;
}

.details__image {
  position: relative;
  height: 350px;
}

.details__link {
  word-wrap: break-word; /* Older browsers */
  overflow-wrap: break-word; /* Modern browsers */
  word-break: break-all; /* Ensures long URLs are broken at any character */
  hyphens: auto; /* Optional: Adds hyphenation if necessary */
}

.details__gallery {
  height: 30rem;
  width: 40rem;
  margin-top: 3rem;
  margin-inline: auto;
}

@media screen and (max-width: 1024px) {
  .details__gallery {
    width: 30rem;
    margin-top: 2rem;
    margin-inline: 0;
  }
}

@media screen and (max-width: 768px) {
  .details__container {
    grid-template-columns: 1fr;
  }

  .details__image {
    order: -1;
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  .details__image {
    height: 200px;
  }
  .details__gallery {
    height: 30rem;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .details__gallery {
    height: 20rem;
  }
}
