.gallery {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  grid-gap: 1rem;
}

.image__link {
  display: block;
  max-width: 300px;
  width: 100%;
  height: 300px;
}

.image {
  width: 100%;
  height: 300px;
  position: relative;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
