.container {
  background: url("../../../public/images/background/home_bg_5.png");
}

.container__bg {
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.45) 20%,
      rgba(255, 255, 255, 0.98) 100%
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.45) 20%,
      rgba(255, 255, 255, 0.93) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 30%,
      rgba(255, 255, 255, 0.95) 100%
    );
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.heading {
  margin-bottom: 2rem;
}
