.heading {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.heading.left {
  justify-content: flex-start;
}

.heading.right {
  justify-content: flex-end;
}

.heading.center {
  justify-content: center;
}

.heading svg {
  font-size: 1.3rem;
}

@media screen and (max-width: 1024px) {
  .heading.left,
  .heading.right,
  .heading.center {
    justify-content: left;
    align-items: flex-start;
  }
}
