.container {
  margin-top: 4rem;
  background: #fff url("../../../public/images/background/home_bg_1.png") center
    center/cover no-repeat;
  padding-block: 0;
  margin-bottom: 2rem;
}

.container__bg {
  background: linear-gradient(
      to left bottom,
      rgba(255, 255, 255, 0.45) 20%,
      rgba(255, 255, 255, 0.98) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.45) 20%,
      rgba(255, 255, 255, 0.98) 100%
    );
}

.section__container {
  margin-bottom: 4rem;
}

.section__container.grid {
  display: grid;
  grid-template-columns: 47% 47%;
  align-items: center;
  column-gap: 6%;
}

.section__container.grid2 {
  display: grid;
  grid-template-columns: 37% 57%;
  align-items: center;
  gap: 6%;
}

.section__container p {
  margin-bottom: 1rem;
}

.image__container.flex {
  display: flex;
  gap: 1rem;
}

.image__container.gridImg {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  gap: 1rem;
}

.image__container.gridImg .image__wrapper {
  width: 100%;
  height: 8rem;
  border: 0.35rem solid var(--primary-hover);
  border-radius: 0.5rem;
  overflow: hidden;
  border: none;
}

.image__container.gridImg img {
  width: 100%;
  max-height: 100%;
}

.image__container img {
  height: 100%;
  transition: transform 0.3s;
}

.image__wrapper {
  width: 100%;
  height: 20rem;
  border: 0.25rem solid var(--primary-hover);
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Visitas Tecnicas */

.section__container.visitas__container {
  margin-bottom: 2rem;
}

.visitas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  justify-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  justify-items: center;
  font-size: 0.9rem;
}

.visitas > a {
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: radial-gradient(
    circle,
    var(--secondary-color) 0%,
    var(--primary-color) 86%
  );
  color: white;
  font-weight: 600;
}

.visitas__container p {
  text-align: center;
}

.info a {
  color: var(--primary-hover);
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .section__container {
    margin-bottom: 2rem;
  }

  .section__container.grid {
    grid-template-columns: 100%;
    gap: 1.5rem;
  }

  .section__container.grid2 {
    grid-template-columns: 100%;
    gap: 1.5rem;
  }

  .section__container.grid2 .image__container {
    order: 1;
  }

  .visitas__container p {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .image__wrapper {
    height: 15rem;
  }

  .image__container.gridImg .image__wrapper {
    height: 6rem;
  }

  .visitas {
    gap: 1rem;
  }
}

@media screen and (max-width: 568px) {
  .section__container.grid .image__container .image__wrapper:first-child {
    display: none;
  }

  .visitas {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
  }
}
