.container {
  padding-top: 4rem;
}

.section__container {
  margin-bottom: 2rem;
}

.section__container.grid {
  display: grid;
  grid-template-columns: 47% 47%;
  align-items: center;
  column-gap: 6%;
}

.section__container.grid2 {
  display: grid;
  grid-template-columns: 37% 57%;
  align-items: center;
  gap: 6%;
}

.section__container p {
  margin-bottom: 1rem;
}

.image__container.flex {
  display: flex;
  gap: 1rem;
}

.image__container.gridImg {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  gap: 1rem;
}

.image__container.gridImg .image__wrapper {
  width: 100%;
  height: 8rem;
  border: 0.35rem solid var(--primary-hover);
  border-radius: 0.5rem;
  overflow: hidden;
  border: none;
}

.image__container.gridImg img {
  width: 100%;
  max-height: 100%;
}

.image__container img {
  height: 100%;
  transition: transform 0.3s;
}

.image__wrapper {
  width: 100%;
  height: 20rem;
  border: 0.25rem solid var(--primary-hover);
  border-radius: 0.5rem;
  overflow: hidden;
}

.visitas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  justify-items: center;
}

.visitas div {
  max-width: 8rem;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .section__container.grid {
    grid-template-columns: 100%;
    gap: 1.5rem;
  }

  .section__container.grid2 {
    grid-template-columns: 100%;
    gap: 1.5rem;
  }

  .section__container.grid2 .image__container {
    order: 1;
  }
}

@media screen and (max-width: 768px) {
  .image__wrapper {
    height: 15rem;
  }

  .image__container.gridImg .image__wrapper {
    height: 6rem;
  }
}

@media screen and (max-width: 568px) {
  .section__container.grid .image__container .image__wrapper:first-child {
    display: none;
  }

  .visitas {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
  }
}
