@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-color: #1c1c1c;
  --secondary-color: rgb(27, 62, 82);
  --primary-hover: goldenrod;
  --dark-blue: #1e3a8a;

  --silver: #c0c0c0;
  --bronze: #cd7f32;

  --transition: all 300ms ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--primary-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.1;
  color: var(--primary-color);
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
  color: var(--primary-color);
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-color);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

section {
  margin-block: 4rem !important;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: var(--transition);
  font-size: 0.9rem;
}

.btn.primary {
  background-color: var(--secondary-color);
  color: whitesmoke;
}

.btn.primary:hover {
  background-color: var(--secondary-color);
  opacity: 0.9;
}

.btn.whitesmoke {
  background-color: whitesmoke;
  color: goldenrod;
  font-weight: 600;
}

.btn.whitesmoke:hover {
  background-color: goldenrod;
  color: white;
}

.btn.gold {
  background-color: goldenrod;
  color: white;
}

.btn.primary.inverse {
  background-color: whitesmoke;
  color: var(--secondary-color);
}

.container {
  width: 84%;
  max-width: 1280px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  section {
    margin-block: 2rem !important;
  }
}

@media screen and (max-width: 458px) {
  body {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1rem;
  }
}
