.container {
  margin-top: 1rem;
  border-top: 0.1rem solid var(--primary-color);
  border-bottom: 0.1rem solid var(--primary-color);
  height: 22rem;
  display: flex;
  align-items: center;
}

.container > div {
  height: fit-content;
  width: 100%;
}

.container h1 span {
  color: whitesmoke;
}

.event__time {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto auto 1fr;
  font-size: 3.5rem;
  justify-items: start;
  line-height: 1.1;
  color: var(--secondary-color);
  font-weight: 700;
  margin-top: 1rem;
}

.days {
  font-size: 9.5rem;
  line-height: 1.1;
  color: var(--primary-hover);
}

@media screen and (max-width: 1250px) {
  .container {
    height: 20rem;
  }

  .days {
    font-size: 8.5rem;
  }

  .event__time {
    font-size: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .days {
    font-size: 7.5rem;
  }

  .event__time {
    font-size: 2.5rem;
    gap: 4rem;
  }

  .hours,
  .minutes,
  .seconds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: 18rem;
  }

  .days {
    font-size: 6.5rem;
  }

  .event__time {
    font-size: 2rem;
    gap: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .container {
    height: 16rem;
  }

  .days {
    font-size: 5.5rem;
  }

  .event__time {
    font-size: 1.5rem;
    gap: 2rem;
  }
}

@media screen and (max-width: 458px) {
  .container {
    height: 14rem;
  }

  .days {
    font-size: 4.5rem;
  }

  .event__time {
    font-size: 1.2rem;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .container {
    height: 12rem;
  }

  .days {
    font-size: 4rem;
  }

  .event__time {
    font-size: 1rem;
    gap: 1rem;
  }
}
