.container {
  margin-top: 1rem;
  height: 9rem;
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.container > div {
  height: fit-content;
  width: 100%;
}

.event__time {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto auto 1fr;
  font-size: 1.7rem;
  justify-items: start;
  line-height: 1.1;
  color: whitesmoke;
  font-weight: 700;
  margin-top: 0.5rem;
}

.days {
  font-size: 4.5rem;
  line-height: 1.1;
  color: var(--primary-hover);
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .days {
    font-size: 3.5rem;
  }

  .event__time {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    height: 9rem;
  }

  .event__time > span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .event__time {
    gap: 1rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 350px) {
  .days {
    font-size: 2.8rem;
  }
  .event__time {
    font-size: 1rem;
  }
}
