.container {
  padding-block: 2rem;
}

.form__heading {
  color: var(--secondary-color);

  font-weight: 700;
  font-size: 2.1rem;
  margin-bottom: 1rem;
}

.form__heading span {
  color: var(--primary-hover);
}

.form {
  background: radial-gradient(
    circle,
    var(--secondary-color) 5%,
    var(--primary-color) 100%
  );
  color: white !important;
  padding-inline: 2rem;
  padding-block: 2rem;
}

.error__message {
  margin-top: 0.5rem;
  color: #f36056;
  font-size: 0.875rem;
}

@media screen and (max-width: 768px) {
  .form {
    padding-inline: 1rem;
    overflow: hidden;
  }
}
