.container {
  padding-block: 0;
  margin-block: 4rem;
  background: url("../../../public/images/background/home_bg_4.png") center
    center/cover no-repeat;
  /* filter: invert(1); */
}

.container__bg {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9) 20%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.diamond__sponsor,
.gold__sponsor,
.silver__sponsor,
.bronze__sponsor {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.diamond__sponsor img {
  width: 400px;
}

.gold__sponsor img {
  width: 350px;
}

.silver__sponsor svg {
  width: 200px;
}

.silver__sponsor img {
  width: 200px;
}

.bronze__sponsor img {
  width: 150px;
}

@media screen and (max-width: 1024px) {
  .diamond__sponsor img {
    width: 300px;
  }

  .gold__sponsor img {
    width: 250px;
  }

  .silver__sponsor svg {
    width: 150px;
  }

  .silver__sponsor img {
    width: 150px;
  }

  .bronze__sponsor img {
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .diamond__sponsor img {
    width: 250px;
  }

  .gold__sponsor img {
    width: 200px;
  }

  .silver__sponsor svg {
    width: 100px;
  }

  .silver__sponsor img {
    width: 100px;
  }

  .bronze__sponsor img {
    width: 75px;
  }
}

@media screen and (max-width: 600px) {
  .diamond__sponsor img {
    width: 200px;
  }

  .gold__sponsor img {
    width: 150px;
  }

  .silver__sponsor svg {
    width: 100px;
  }

  .silver__sponsor img {
    width: 100px;
  }

  .bronze__sponsor img {
    width: 50px;
  }
}

@media screen and (max-width: 458px) {
  .diamond__sponsor,
  .gold__sponsor,
  .silver__sponsor,
  .bronze__sponsor {
    margin-top: 1rem;
    gap: 1rem;
  }

  .diamond__sponsor img {
    width: 125px;
  }

  .gold__sponsor img {
    width: 100px;
  }

  .silver__sponsor svg {
    width: 75px;
  }

  .bronze__sponsor img {
    width: 50px;
  }
}
