.container {
  display: grid;
  grid-template-columns: repeat(8, minmax(min-content, 10rem));
  grid-template-rows: repeat(3, min-content);
  row-gap: 1rem;
  margin-top: 1rem;
  font-size: 0.9rem;
}

/* Logo */
.logo {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: grid;
  align-items: center;
  justify-items: left;
  width: 150px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Social Networks */
.social {
  grid-column: 7 / 9;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  align-items: center;
  justify-items: right;
}

.social__link svg {
  font-size: 1.1rem;
  color: var(--primary-color);
}

.social__link svg:hover {
  color: var(--primary-hover);
}

/* auth */

.auth__wrapper {
  grid-column: 7 / 9;
  grid-row: 2 / 3;
}

.auth {
  display: grid;
  height: 100%;
  text-align: right;
  justify-items: right;
  align-items: center;
}

.auth__link {
  display: block;
  color: var(--secondary-color);
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

/* search */
.search {
  grid-column: 3 / 7;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}

.search__form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

.search__input {
  grid-column: 3 / 8;
  grid-row: 1 / 2;
  padding: 3px 4px;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  outline: none;
}

.search__button {
  grid-column: 7 / 8;
  grid-row: 1 / 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Info */
.info {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  overflow: hidden;
}

.info a {
  color: var(--secondary-color);
}

/* Menu */
.menu {
  grid-column: 1 / 9;
  grid-row: 3 / 4;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  justify-content: center;
}

.menu__link {
  text-align: center;
  display: grid;
  text-transform: uppercase;
  color: var(--primary-color);
  line-height: 1.3;
  padding: 0.6rem 0;
  text-wrap: nowrap;
  transform: all 500ms 300ms;
}

.menu__item:hover .menu__link {
  background-color: var(--secondary-color);
  color: white;
}

.menu__item .menu__link.active {
  background-color: var(--primary-hover);
  color: white;
}

@media screen and (max-width: 1200px) {
  .menu__item:hover .menu__link {
    background-color: transparent;
    color: var(--secondary-color);
  }

  .menu__item .menu__link.active {
    background-color: transparent;
    color: var(--primary-hover);
  }
  .container {
    grid-template-columns: repeat(8, minmax(min-content, 9.375rem));
  }
}

@media screen and (max-width: 992px) {
  .info {
    grid-column: 1 / 7;
  }

  .logo {
    grid-column: 1 / 4;
  }
  .search {
    grid-column: 4 / 6;
  }

  .search__input {
    grid-column: 2 / 11;
  }

  .search__button {
    grid-column: 10 / 11;
  }

  .container {
    grid-template-columns: repeat(8, minmax(min-content, 7.75rem));
  }
}

@media screen and (max-width: 768px) {
  .social {
    grid-column: 6 / 9;
  }
  .info {
    display: none;
  }
  .search {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }

  .search__input {
    grid-column: 1 / 9;
  }

  .search__button {
    grid-column: 8 / 9;
  }

  .container {
    grid-template-columns: repeat(8, minmax(min-content, 1fr));
  }

  .logo {
    grid-column: 1 / 5;
  }
}

@media screen and (max-width: 576px) {
  .social {
    grid-column: 5 / 9;
  }
  .search__input {
    grid-column: 1 / 10;
  }
  .search__button {
    grid-column: 9 / 10;
  }
}

@media screen and (max-width: 500px) {
  .auth__wrapper {
    grid-column: 6 / 9;
  }
}
