/* search */
.search {
  grid-column: 3 / 7;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}

.search__form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

.search.pending .search__input {
  pointer-events: none;
  background-color: var(--secondary-color);
  color: var(--primary-hover);
}

.search__input {
  grid-column: 3 / 8;
  grid-row: 1 / 2;
  padding: 3px 4px;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  outline: none;
}

.search__button {
  grid-column: 7 / 8;
  grid-row: 1 / 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .search {
    grid-column: 4 / 6;
  }

  .search__input {
    grid-column: 2 / 11;
  }

  .search__button {
    grid-column: 10 / 11;
  }
}

@media screen and (max-width: 768px) {
  .search {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }

  .search__input {
    grid-column: 1 / 9;
  }

  .search__button {
    grid-column: 8 / 9;
  }
}

@media screen and (max-width: 576px) {
  .search__input {
    grid-column: 1 / 10;
  }
  .search__button {
    grid-column: 9 / 10;
  }
}
