.banner {
  margin-top: 1rem;
  height: 70vh;
  position: relative;
}
.banner__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.1) 70%
  );
  z-index: 1;
}
.banner__right {
  position: absolute;
  padding: 1rem;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__right h1 {
  color: whitesmoke;
  font-size: 2.1rem;
  text-align: center;
  text-wrap: balance;
  line-height: 1.5;
}

.banner__right h1 span:first-of-type {
  color: var(--primary-hover);
}

.banner__right h3 {
  color: whitesmoke;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 1rem;
}

.banner__right h3 span {
  color: var(--secondary-color);
}

.banner__right-text {
  color: whitesmoke;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: 600;
}

.banner__btn-wrapper {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.banner__btn-wrapper a {
  display: inline-block;
  padding: 0.5rem 2rem;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  color: white;
  text-transform: uppercase;
  border-radius: 0.2rem;
  outline: none;
  transition: var(--transition);
}

.banner__btn-wrapper a:hover {
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
}

.slideshow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slideshow__wrapper {
  display: flex;
  width: 300%;
  height: 100%;
  position: relative;
  animation: slideshow 25s infinite;
}

.slide {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.slide img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes slideshow {
  0% {
    left: 0;
  }
  5% {
    left: -100%;
  }
  20% {
    left: -100%;
  }
  25% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  55% {
    left: -100%;
  }
  70% {
    left: -100%;
  }
  75% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

@media screen and (max-width: 992px) {
  .banner__right h1 {
    font-size: 1.9rem;
  }

  .banner__right-text {
    font-size: 1rem;
  }

  .banner__right h3 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    height: 50vh;
  }

  .banner__right h1 {
    font-size: 1.7rem;
  }

  .banner__right-text {
    font-size: 0.9rem;
  }

  .banner__right h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 668px) {
  .banner__right {
    width: 100%;
    top: 0;
    left: 0;
    height: 40%;
    margin-top: 1rem;
  }
  .banner__content {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.3)
    );
  }
}
