.banner {
  margin-top: 1rem;
  height: 70vh;
  position: relative;
}
.banner__content {
  position: absolute;
}
.slideshow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slideshow__wrapper {
  display: flex;
  width: 300%;
  height: 100%;
  position: relative;
  animation: slideshow 25s infinite;
}

.slide {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.slide img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes slideshow {
  0% {
    left: 0;
  }
  5% {
    left: -100%;
  }
  20% {
    left: -100%;
  }
  25% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  55% {
    left: -100%;
  }
  70% {
    left: -100%;
  }
  75% {
    left: 0;
  }
  100% {
    left: 0;
  }
}
